<div class="cabecero">
  <div class="presupuesto">
    <div class="presupuesto_titulo">
      Presupuesto Disponible:
    </div>

    <div class="presupuesto_valor">{{totalBudget}}</div>

    <div class="presupuesto_ingreso limpiarEstilos">
      <div class="presupuesto_ingreso--texto">Ingresos</div>
      <div class="right">
        <div class="presupuesto_ingreso--valor">{{totalEntry}}</div>
        <div class="presupuesto_ingreso--porcentaje">&nbsp;</div>
      </div>
    </div>

    <div class="presupuesto_egreso limpiarEstilos">
      <div class="presupuesto_egreso--text">Egresos</div>
      <div class="right limpiarEstilos">
        <div class="presupuesto_egreso--valor">- {{totalEgress}}</div>
        <div class="presupuesto_egreso--porcentaje">{{totalPercent}}%</div>
      </div>
    </div>
  </div>
</div>
