<div class="ingreso">
  <h2 class="ingreso_titulo">Entries</h2>
  <div *ngFor="let entry of entries" class="elemento limpiarEstilos">
    <div class="elemento_descripcion">{{entry.description}}</div>
    <div class="right limpiarEstilos">
      <div class="elemento_valor">{{entry.value | currency: 'COP': '$': '1.2-2'}}</div>
      <div class="elemento_eliminar">
        <button class="elemento_eliminar--btn">
          <i class="ion-ios-close-outline" (click)="delete(entry)"></i>
        </button>
      </div>
    </div>
  </div>
</div>
